/**
* animations.scss
* Contains the sitewide animations
* e.g.
*/

@include keyframes('progress-animation') {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}
