<h1>Listado de pedidos</h1>
<div class="table-responsive">
    <table class="table table-striped table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Barrio</th>
                <th scope="col">Dirección</th>
                <th scope="col">Telefono Contacto</th>
                <th scope="col">Valor</th>
                <th scope="col">Pago</th>
                <th scope="col">Estado</th>
                <th scope="col">Tiempo Estimado</th>
                <th scope="col">Domiciliario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                <td>{{pedido.noPedido}}</td>
                <td>{{pedido.barrio}}</td>
                <td>{{pedido.direccion}}</td>
                <td>{{pedido.telefonoContacto}}</td>
                <td>{{pedido.valor}}</td>
                <td>{{pedido.pago}}</td>
                <td>{{pedido.tiempoEstimado}}</td>
                <td>{{pedido.estado[0]}} <i [ngClass]="{'zwicon-checkmark':pedido.estado[0] ==='Completado', 'zwicon-shopping-cart': pedido.estado[0] ==='En Camino', 'zwicon-package':pedido.estado[0] ==='Recibido'}"></i> </td>
                <td>
                    <div *ngIf="!pedido.domiciliario._id" >Sin Asignar <i class="zwicon-edit-pencil" (click)="goToAsignar($event, pedido._id)"></i></div>
                    <div *ngIf="pedido.domiciliario._id" >
                        <table>
                            <tr>
                                <th>Nombre</th>
                                <th>Telefono</th>
                            </tr>
                            <tr>
                                    <td>{{pedido.domiciliario.nombre}} </td>
                                    <td>{{pedido.domiciliario.telefono}}</td>
                                </tr>
                        </table>
                        <i class="zwicon-edit-pencil" (click)="goToAsignar($event, pedido._id)"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
